/* table{
   margin: 10% 10% 10% 10%;
   align-content: center;

  
  
} */
@media screen and (min-width: 950px) {
  html {
      width: 100%;
      margin: 0;
      padding: 0;
  }

  body{
      width: 80%;
      margin: 10%;
      padding: 0;
  }
}
input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -webkit-transform: scale(2); /* Safari and Chrome */
  padding: 10px;
  flex: none; 
  /* vertical-align: auto; */
}

form .title{ 
  text-align: right;
  font-family: 'Merriweather', serif;
}


.card-header{
  font-size: 25px;
  font-family: 'Merriweather', serif;
}
input[type="radio"] {
  margin-left: 20px;
  padding-left: 0%;
  
}
input[type=checkbox] { height: 25px;; }
.brand{
  font-size: 30px;
  font-family: 'Merriweather', serif;
}

